# Задание из четвёртой лабы

Обучите один из алгоритмов классификации из библиотеки sklearn. Объяснять принцип работы классификатора в этой лабораторной не требуется

1. Выберите один из датасетов первой лабораторной


2. Найдите в данных признак, который будете предсказывать
    
    Если это категория, то у неё должно быть от 2 до 10 значений (например колонка species в датасете миграции птиц содержит 3 категории)
    
    Если признак количественный, то его нужно дискретизировать (например для популярности трека в датасете spotify можно разделить треки на 3 категории: 0-20 - популярные, 21-50 - обычные, 51 - 100 - непопулярные). Полученную категорию записать в датафрейм как отдельную колонку


3. Выделите признаки для предсказания
    
    Используйте от 2 до 5 количественных признаков для предсказания целевой переменной


4. Проверьте нормальность количественных признаков
    
    Используйте статистический тест из лекции. Если распределение является лог-нормальным, логарифмируйте его и проверьте на нормальность
    
    Как минимум 1 из признаков должен быть нормальным


5. Покажите качество предсказания модели с помощью метрик

    Метрика должна учитывать баланс классов в датасете

In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv('myNba2k20-full.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   429 non-null    int64
 1   full_name    429 non-null    object
 2   rating       429 non-null    int64
 3   jersey       429 non-null    object
 4   position     429 non-null    object
 5   b_day        429 non-null    object
 6   height       429 non-null    object
 7   weight       429 non-null    object
 8   salary       429 non-null    int64
 9   country      429 non-null    object
 10  draft_year   429 non-null    int64
 11  draft_round  429 non-null    object
 12  draft_peak   429 non-null    object
dtypes: int64(4), object(9)
memory usage: 43.7+ KB

In [3]:
df.head()

,Unnamed: 0,full_name,rating,jersey,position,b_day,height,weight,salary,country,draft_year,draft_round,draft_peak
0,0,LeBron James,97,#23,F,12/30/84,6-9 / 2.06,250 lbs. / 113.4 kg.,37436858,USA,2003,1,1
1,1,Kawhi Leonard,97,#2,F,06/29/91,6-7 / 2.01,225 lbs. / 102.1 kg.,32742000,USA,2011,1,15
2,2,Giannis Antetokounmpo,96,#34,F-G,12/06/94,6-11 / 2.11,242 lbs. / 109.8 kg.,25842697,Greece,2013,1,15
3,3,Kevin Durant,96,#7,F,09/29/88,6-10 / 2.08,230 lbs. / 104.3 kg.,37199000,USA,2007,1,2
4,4,James Harden,96,#13,G,08/26/89,6-5 / 1.96,220 lbs. / 99.8 kg.,38199000,USA,2009,1,3

In [4]:
def eraseDollar(value: object ) -> int:
    return int(value.replace("$", ""))

In [5]:
k76 = 0
k86 = 0 
k97 = 0
def grp(x):
    global k76
    global k86
    global k97
    
    if (x[2] <= 76): 
        k76 = k76 + 1
        return 76
    elif (x [2] <= 86):
        k86 = k86 + 1
        return 86
    else: 
        k97 = k97 + 1
        return 97

In [6]:
df.rating = df.apply(grp, axis = 1)

In [7]:
print(k76)
print(k86)
print(k97)

265
133
31

In [8]:
df.head(500)

,Unnamed: 0,full_name,rating,jersey,position,b_day,height,weight,salary,country,draft_year,draft_round,draft_peak
0,0,LeBron James,97,#23,F,12/30/84,6-9 / 2.06,250 lbs. / 113.4 kg.,37436858,USA,2003,1,1
1,1,Kawhi Leonard,97,#2,F,06/29/91,6-7 / 2.01,225 lbs. / 102.1 kg.,32742000,USA,2011,1,15
2,2,Giannis Antetokounmpo,97,#34,F-G,12/06/94,6-11 / 2.11,242 lbs. / 109.8 kg.,25842697,Greece,2013,1,15
3,3,Kevin Durant,97,#7,F,09/29/88,6-10 / 2.08,230 lbs. / 104.3 kg.,37199000,USA,2007,1,2
4,4,James Harden,97,#13,G,08/26/89,6-5 / 1.96,220 lbs. / 99.8 kg.,38199000,USA,2009,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,424,Brandon Goodwin,76,#0,G,10/02/95,6-0 / 1.83,180 lbs. / 81.6 kg.,522738,USA,2018,Undrafted,Undrafted
425,425,Michael Frazier,76,#21,G,03/08/94,6-3 / 1.91,200 lbs. / 90.7 kg.,79568,USA,2015,2,60
426,426,Kostas Antetokounmpo,76,#37,F,11/20/97,6-10 / 2.08,200 lbs. / 90.7 kg.,79568,Greece,2018,Undrafted,Undrafted
427,427,Jalen Lecque,76,#0,G,06/13/00,6-3 / 1.91,190 lbs. / 86.2 kg.,898310,USA,2019,Undrafted,Undrafted
428,428,Duncan Robinson,76,#55,F,04/22/94,6-7 / 2.01,215 lbs. / 97.5 kg.,1416852,USA,2018,Undrafted,Undrafted

In [9]:
def h(x) -> float:
    #a = float(x[6].split('/ ')[1])
    a = x[6].split('/ ')[1]
    return float(a)

In [10]:
df.height = df.apply(h, axis = 1)

In [11]:
def w(x: object) -> float:
    a = x[7].split('/ ')[1]
    b = a.split()[0]
    return float(b)

In [12]:
df.weight = df.apply(w, axis = 1)

In [13]:
df.head(500)

,Unnamed: 0,full_name,rating,jersey,position,b_day,height,weight,salary,country,draft_year,draft_round,draft_peak
0,0,LeBron James,97,#23,F,12/30/84,2.06,113.4,37436858,USA,2003,1,1
1,1,Kawhi Leonard,97,#2,F,06/29/91,2.01,102.1,32742000,USA,2011,1,15
2,2,Giannis Antetokounmpo,97,#34,F-G,12/06/94,2.11,109.8,25842697,Greece,2013,1,15
3,3,Kevin Durant,97,#7,F,09/29/88,2.08,104.3,37199000,USA,2007,1,2
4,4,James Harden,97,#13,G,08/26/89,1.96,99.8,38199000,USA,2009,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,424,Brandon Goodwin,76,#0,G,10/02/95,1.83,81.6,522738,USA,2018,Undrafted,Undrafted
425,425,Michael Frazier,76,#21,G,03/08/94,1.91,90.7,79568,USA,2015,2,60
426,426,Kostas Antetokounmpo,76,#37,F,11/20/97,2.08,90.7,79568,Greece,2018,Undrafted,Undrafted
427,427,Jalen Lecque,76,#0,G,06/13/00,1.91,86.2,898310,USA,2019,Undrafted,Undrafted
428,428,Duncan Robinson,76,#55,F,04/22/94,2.01,97.5,1416852,USA,2018,Undrafted,Undrafted

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   429 non-null    int64
 1   full_name    429 non-null    object
 2   rating       429 non-null    int64
 3   jersey       429 non-null    object
 4   position     429 non-null    object
 5   b_day        429 non-null    object
 6   height       429 non-null    float64
 7   weight       429 non-null    float64
 8   salary       429 non-null    int64
 9   country      429 non-null    object
 10  draft_year   429 non-null    int64
 11  draft_round  429 non-null    object
 12  draft_peak   429 non-null    object
dtypes: float64(2), int64(4), object(7)
memory usage: 43.7+ KB

In [15]:
from scipy import stats

In [16]:
print(stats.normaltest(df.height))

NormaltestResult(statistic=4.846177468074185, pvalue=0.08864738596500196)

In [17]:
print(stats.normaltest(np.log(df.height)))

NormaltestResult(statistic=6.300828847362206, pvalue=0.0428343716102344)

In [18]:
print(stats.normaltest(df.weight))

NormaltestResult(statistic=10.843417553875204, pvalue=0.004419588101514321)

In [19]:
print(stats.normaltest((np.log(df.weight))))

NormaltestResult(statistic=6.9706576041159405, pvalue=0.030643681067169075)

In [20]:
df['weightLog'] = np.log(df.weight)

In [21]:
df.head(500)

,Unnamed: 0,full_name,rating,jersey,position,b_day,height,weight,salary,country,draft_year,draft_round,draft_peak,weightLog
0,0,LeBron James,97,#23,F,12/30/84,2.06,113.4,37436858,USA,2003,1,1,4.730921
1,1,Kawhi Leonard,97,#2,F,06/29/91,2.01,102.1,32742000,USA,2011,1,15,4.625953
2,2,Giannis Antetokounmpo,97,#34,F-G,12/06/94,2.11,109.8,25842697,Greece,2013,1,15,4.698661
3,3,Kevin Durant,97,#7,F,09/29/88,2.08,104.3,37199000,USA,2007,1,2,4.647271
4,4,James Harden,97,#13,G,08/26/89,1.96,99.8,38199000,USA,2009,1,3,4.603168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,424,Brandon Goodwin,76,#0,G,10/02/95,1.83,81.6,522738,USA,2018,Undrafted,Undrafted,4.401829
425,425,Michael Frazier,76,#21,G,03/08/94,1.91,90.7,79568,USA,2015,2,60,4.507557
426,426,Kostas Antetokounmpo,76,#37,F,11/20/97,2.08,90.7,79568,Greece,2018,Undrafted,Undrafted,4.507557
427,427,Jalen Lecque,76,#0,G,06/13/00,1.91,86.2,898310,USA,2019,Undrafted,Undrafted,4.456670
428,428,Duncan Robinson,76,#55,F,04/22/94,2.01,97.5,1416852,USA,2018,Undrafted,Undrafted,4.579852

In [22]:
df.to_csv('myNba.csv')

In [23]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [24]:
knn_clf = KNeighborsClassifier()
svm_clf = SVC()
forest_clf = RandomForestClassifier()

In [25]:
knn_acc_score = cross_val_score(knn_clf, df[['height', 'weightLog']], df.rating, scoring='balanced_accuracy').mean()
svm_acc_score = cross_val_score(svm_clf, df[['height', 'weightLog']], df.rating, scoring='balanced_accuracy').mean()
forest_acc_score = cross_val_score(forest_clf, df[['height', 'weightLog']], df.rating, scoring='balanced_accuracy').mean()

In [26]:
leaderboard = sorted([
    ('KNN', knn_acc_score),
    ('SVC', svm_acc_score),
    ('Forest', forest_acc_score)
], key=lambda pair: pair[1], reverse=True)

print('Leaderboard:')
for idx, (leader_name, leader_score) in enumerate(leaderboard):
    print(f'{idx + 1}. {leader_name}: {leader_score}')

Leaderboard:
1. Forest: 0.39262305362934297
2. KNN: 0.3665681162536509
3. SVC: 0.3333333333333333